/* Map box pop style override */
  .mapboxgl-popup{
    position: absolute !important;
    transform:translate(10px, -20px) translate(0px, 0px) translate(-50%, -100%) !important
  }
  .mapboxgl-popup-content{
    padding:10px 20px !important
  }
  .MuiFilledInput-input{
    padding:0px 10px !important
  }