@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap");

code {
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", sans-serif !important;
}

html,
body,
#root {
  /* height: 100vh; */
  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Raleway", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
